<% if @books.empty? %>
    <div class='before-result-search-box'>
      <%= render 'form' %>
    </div>
<% else %>
    <div class='after-result-search-box'>
      <%= render 'form' %>
    </div>
<% end %>

<%= render 'books/books' %>