/****************book_info****************/

$book_info_heading_color: rgb(60, 60, 60);

$book_info_border_color: rgb(115, 172, 201);

/****************book_list****************/

$book_block_box_shadow_color: rgba(84, 137, 181, 0.5);

/****************common****************/

$body_text_color: gray;

$body_background_color: rgb(231, 238, 243);

$nav_bar_text_color: white;

$count_own_books_background_color: #38aadd;

$count_shared_books_background_color: rgb(103, 150, 102);

$count_borrowed_books_background_color: rgb(185, 101, 100);

$nav_bar_anchor_hover_color :rgb(27, 73, 156);

/****************form****************/

$error_color: #a94442;

$label_info_color: #3a87ad;

