<% if notice %>
    <div class='alert alert-success'>
      <b><%= notice %></b> has been added to your collection.
    </div>
<% end %>

<% if @books.empty? %>
    <div class='alert alert-info'>
      No books found.
    </div>
<% else %>
    <%= render partial: 'books' %>
<% end %>
