<div class='row'>
  <div class='col-lg-4'>
    <h1> List of your books </h1>
  </div>
  <div class='col-lg-8'>
    <div class='pull-right'>
      <a href='/books/new'>
        <button class='btn btn-primary'>Share Another Book</button>
      </a>
    </div>
  </div>
</div>

<% if @books.empty? %>
    <div class='alert alert-info'>
      No books found.
    </div>
<% else %>
    <%= render 'books' %>
<% end %>

