<% if notice %>
    <div class='alert alert-success'>
      <b><%= notice %></b> has been added to your collection.
    </div>
<% end %>

<% if @books.nil? %>
    <div class='alert alert-info'>
      Sorry, You dont have any book.
    </div>
<% else %>
    <%= render partial: 'books' %>
<% end %>
