@import "mixins/colors";

li {
  list-style: none;
}

a {
  color: $body_text_color;
  &:hover {
    text-decoration: none;
    color: $body_text_color;
  }
}

.book-data {
  height: 80px;
  overflow-y: scroll;
  margin: 7px 7px 0 7px;
}

.block {
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 10px;
  .image {
    height: 210px;
  }

  span {
    word-wrap: break-word;
    text-align: justify;
  }

  &:hover {
    box-shadow: 0 12px 30px $book_block_box_shadow_color;
  }
}
