@import "mixins/colors";

.image-div {
  text-align: center;
  padding: 0px;
  margin: 0 20px;
}

.book-details {
  text-align: justify;
  h2 {
    margin: 0;
    color: gray;
  }
  .book-info {
    padding: 8px 0 8px;
    &:first-child {
      padding-top: 0;
    }
  }

  .heading {
    color: $book_info_heading_color;
    padding-bottom: 10px;
    border-bottom: 2px solid $book_info_border_color;
  }

}

.book-info {
  h3 {
    margin: 0 0 15px 0;
  }
  .table > tbody > tr {
    > th{
      border-top: none;
    }
    > td {
      border-top: 1px solid $book_info_border_color;
    }
  }
}

#add_new_borrower .btn{
  margin-bottom: 15px;
}

#delete_book {
  margin-right: 10px;
  #delete_text {
    padding-left: 5px;
  }
}

//******************************* Media Queries **************************************//

@media (max-width: 768px) {

  .image-div {
    margin: 0px 20px 15px;
  }
}