.image {
  height: 160px;
  background: url('NoPhotoAvailable.jpg') no-repeat center;
  background-size: contain;
  margin-bottom: 10px;
}

.book-blocks {
  height: 500px;
  > .col-lg-4 {
    padding: 6px;
  }
}

.block {
  background: #fbfbfb;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 15px;
  width: 285px;
  float: left;
  margin: 5px;
  span {
    word-wrap: break-word;
  }
}