.image {
  img {
    height: 220px;
    width: 100%;
  }
}

.edit-book-icon {
  position: relative;
  top: 117px;
  left: 270px;
}

li {
  list-style: none;
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.block {

  .right-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 6px solid gray;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid gray;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.block {
  background: #fbfbfb;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding-bottom: 5px;
  width: 285px;
  height: 362px;
  float: left;
  span {
    word-wrap: break-word;
    text-align: justify;
  }
}