.image-div {
  text-align: center;
  margin-top: 10px;
  img {
    height: 270px;
    width: 80%;
  }
}

.book-info {
  margin: 10px 0 15px !important;
}

#add_new_borrower {
  color: #eeeeee;
  font-weight: bold;
}

