body {
  background: #f5f5f5;
}

.content {
  margin: 0 10px;
}

.row {
  margin: 0;
}

.header {
  padding: 10px;
  .logo {
    background: url("logo.png") no-repeat;
    height: 40px;
    background-size: contain;
  }
}

.search-form {
  padding-top: 1px;
  padding-left: 10px;
}

.navbar-default {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkgray), to(gray));
  border: 2px solid gray;
  margin: 0 10px 20px;

  .navbar-nav > li > a {
    color: white;
    display: inline-block;
  }
  .count {
    border: 1px solid gray;
    padding: 2px;
    color: white;
    border-radius: 4px;
  }
}

.count-own-books {
  background: #38aadd;
}

.count-shared-books {
  background: #a8c74f;
}

.count-borrowed-books {
  background: #c8232e;
}

.navbar li:hover{
  sup {
    color: black;
  }
  a {
    color: black;
  }
}

.navbar-nav > li {
  font-size: 16px;
  font-weight: bold;
}

.input-group {
  .input-group-addon{
    padding: 0;
    vertical-align: 0;
  }
  .btn {
    background: gray;
    border-radius: 0;
  }
  .glyphicon-search {
    color: white;
  }
}


.icon {
  padding-right: 20px;
}


//******************************* Common fetch it some other file **************************************//

.alert {
  padding: 8px;
}



h1 {
  margin: 0 0 20px;
}


//******************************* Media Queries **************************************//


