body {
  background: #f5f5f5;
}

.content {
  margin: 0 10px;
}

.row {
  margin: 0;
}

.header {
  background: lightgray;
  padding: 10px;
  .logo {
    background: url("logo.png") no-repeat;
    height: 40px;
    background-size: contain;
  }
}

.search-form {
  padding-top: 1px;
  padding-left: 10px;
}

.navbar li:hover{
  background: lightgray;
}

.navbar-nav > li {
  font-size: 16px;
  padding-right: 10px;
}

.icon {
  padding-left: 7px;
}


//******************************* Common fetch it some other file **************************************//

.alert {
  padding: 8px;
}

.book-blocks > .col-lg-4 {
  padding: 6px;
}
.block {
  background: white;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 15px;

  span {
    word-wrap: break-word;
  }
}

h1 {
  margin: 0 0 20px;
}


//******************************* Media Queries **************************************//


