#error_explanation {
  color: red;
  padding-left: 0px;
}

.alert {
  padding: 8px;
}

.form-horizontal {
  padding-top: 10px;
}

.form-group {
  margin-bottom: 25px;
}

textarea.form-control {
  height: 100px;
}

.modal-dialog {
  width: 60%;
}